<div class="container">
    <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h1 class="big big-2">Blog</h1>
            <h2 class="mb-4">Our Blog</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
                <a href="{{ path('app_blog_show', {'id': 1}) }}" class="block-20" style="background-image: url({{ asset('images/image_1.jpg') }});">
                </a>
                <div class="text mt-3 float-right d-block">
                    <div class="d-flex align-items-center mb-3 meta">
                        <p class="mb-0">
                            <span class="mr-2">March 12, 2023</span>
                            <a href="#" class="mr-2">Admin</a>
                            <a href="#" class="meta-chat"><span class="icon-chat"></span> 0</a>
                        </p>
                    </div>
                    <h3 class="heading"><a href="{{ path('app_blog_show', {'id': 1}) }}">Natural Language Processing (NLP)</a></h3>
                    <p>Natural Language Processing (NLP) is one of the most exciting disciplines of Artificial Intelligence (AI). It is a branch of AI that focuses on understanding and manipulating human language by machines. Using sophisticated algorithms and machine learning models, NLP enables computers to read, comprehend, interpret, and generate human language in a natural way.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
                <a href="{{ path('app_blog_show', {'id': 2}) }}" class="block-20" style="background-image: url({{ asset('images/image_2.jpg') }});">
                </a>
                <div class="text mt-3 float-right d-block">
                    <div class="d-flex align-items-center mb-3 meta">
                        <p class="mb-0">
                            <span class="mr-2">April 12, 2023</span>
                            <a href="#" class="mr-2">Admin</a>
                            <a href="#" class="meta-chat"><span class="icon-chat"></span> 0</a>
                        </p>
                    </div>
                    <h3 class="heading"><a href="{{ path('app_blog_show', {'id': 2}) }}">Best Practices in Cybersecurity</a></h3>
                    <p>Cybersecurity is a critical aspect of protecting sensitive information and systems from cyber threats and attacks. With the increasing reliance on digital technologies, implementing strong cybersecurity practices has become more important than ever. Here </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry">
                <a href="{{ path('app_blog_show', {'id': 3}) }}" class="block-20" style="background-image: url({{ asset('images/image_3.jpg') }});">
                </a>
                <div class="text mt-3 float-right d-block">
                    <div class="d-flex align-items-center mb-3 meta">
                        <p class="mb-0">
                            <span class="mr-2">April 25, 2023</span>
                            <a href="#" class="mr-2">Admin</a>
                            <a href="#" class="meta-chat"><span class="icon-chat"></span> 0</a>
                        </p>
                    </div>
                    <h3 class="heading"><a href="{{ path('app_blog_show', {'id': 3}) }}">Information Systems Security</a></h3>
                    <p>Information Systems Security is a crucial aspect of safeguarding sensitive data, resources, and technologies within an organization. With the increasing volume of data and cyber threats, securing information systems has become a top priority for businesse.</p>
                </div>
            </div>
        </div>
    </div>
</div>