<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="big big-2">Projects</h1>
            <h2 class="mb-4">Our Projects</h2>
            <p>Embarking on remarkable journeys, transcending boundaries, and creating exceptional digital landscapes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/project-4.jpg') }});">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="https://live-session.fr/nos-produits-formations/mylivesession-manager/">MyLiveSession Manager V2</a></h3>
                    <span>Symfony 2.8 & Bootstrap</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/project-5.jpg') }});">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="https://live-session.fr/nos-produits-formations/mylivesession-manager/" target="_blank">MyLiveSession Manager V3</a></h3>
                    <span>Symfony 6 & VueJs</span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/project-1.jpg') }});">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="#">Portfolio Photographe</a></h3>
                    <span>Php 7.4 & Bootstrap</span>
                </div>
            </div>

            <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/project-6.jpg') }});">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="#">Website &amp; Illustration Design Startup</a></h3>
                    <span>Php 7.4 & Bootstrap</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/project-2.jpg') }});">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">
                            <h3><a href="#">Project Management & SI</a></h3>
                            <span>SCRUM Methode</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/project-3.jpg') }});">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">
                            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                            <span>Web Design</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>