<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-10 heading-section text-center ftco-animate">
            <h1 class="big big-2">Resume</h1>
            <h2 class="mb-4">Resume</h2>
            <p>I am a passionate Full Stack developer with a strong interest in computer science and technology. I have a solid experience in web development. I constantly stay updated with the latest trends and emerging technologies to stay at the forefront of my field. I find challenges in the field of computer science exciting as they allow me to leverage my creativity and problem-solving abilities. In times of crisis or high workload, I am known for keeping calm and making rational decisions. Additionally, I have excellent teamwork skills and a successful track record in project management, enabling me to collaborate effectively with team members and lead projects to success.</p>
        </div>
    </div>
    <div class="row justify-content-center pb-5">
        <h3 class="mb-4">Professional experience</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date">September, 2022 - {{ current_date }}</span>
                <h2>Full Stack Developer</h2>
                <span class="position">Live Session, Grenoble</span>
                <p class="mt-4">Contributed to the MyLiveSessionManager project, a virtual classroom management platform, as a full-time employee. Designed and developed software architecture, utilized Symfony 6, VueJS, and MySQL, and followed SCRUM methodology. Keywords: Symfony 6, PHP 8.1, PhpUnit, Behat, SCRUM, VueJs, Docker, CI/CD, REDIS, MySQL, GIT, Linux.</p>
                <div class="text-center">
                    <a href="https://live-session.fr/" target="_blank">
                        <img src="{{ asset('images/LiveSessionLogo.png') }}" alt="Logo" class="centered-image" style="height: 50px;">
                    </a>
                </div>
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">Mai, 2020 - September, 2020</span>
                <h2>internship, web developer</h2>
                <span class="position">Absiskey, Grenoble</span>
                <p class="mt-4">
                    During my 4-month internship at Absiskey, I made significant contributions to the NetboardProjet, a financial project management platform. I was responsible for both frontend and backend development, utilizing PHP 5.6, API, JS, MDBootstrap, and MySQL. Additionally, I successfully updated and enhanced the UI/UX interfaces of the statistical dashboards. Key skills employed included PHP 5.6, MDBpptsrap, HTML, CSS, JavaScript, CI, MySQL, GitLab, and Linux.
                </p>
                <div class="text-center">
                    <a href="https://absiskey.com/" target="_blank">
                        <img src="{{ asset('images/absiskey.png') }}" alt="Logo" class="centered-image" style="height: 50px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date">October, 2020 - September, 2022</span>
                <h2>Work-study, web developer</h2>
                <span class="position">Live Session, Grenoble</span>
                <p class="mt-4">Contributed to the MyLiveSessionManager project: designed and developed software architecture, utilized Symfony 6, VueJS, and MySQL, followed SCRUM methodology. Keywords: Symfony 6, PHP 8.1, PhpUnit, Behat, SCRUM, VueJs, Docker, CI/CD, REDIS, MySQL, GIT, Linux.</p>
                <br>
                <div class="text-center">
                    <a href="https://live-session.fr/" target="_blank">
                        <img src="{{ asset('images/LiveSessionLogo.png') }}" alt="Logo" class="centered-image" style="height: 50px;">
                    </a>
                </div>
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">April, 2019 - August, 2019</span>
                <h2>internship, web developer</h2>
                <span class="position">Cosys, Paris</span>
                <p class="mt-4">During my 4-month internship at Cosys in Paris, I made valuable contributions to the FlexUp project, a platform for artisan services. I was involved in the frontend and backend development, utilizing Symfony 4, MDBootstrap, MySQL, and JavaScript. Additionally, I took part in initializing the UI/UX interfaces using Java and Android Studio. Key skills utilized during this internship included Java, PHP 7.4, MDBpptsrap, HTML, CSS, JavaScript, CI, MySQL, GitLab, and Linux.</p>
                <br>
                <div class="text-center">
                    <a href="https://cosys.com/" target="_blank">
                        <img src="{{ asset('images/cosys.png') }}" alt="Logo" class="centered-image" style="height: 50px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center pb-5">
        <h3 class="mb-4">Academic Background</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date">2020 - 2022</span>
                <h2>Master's Degree (M2) of computer expert and information systems</h2>
                <span class="position">School of Engineering - EPSI</span>
                <ul>
                    <li>Information Systems Management</li>
                    <li>Digital Risk Management</li>
                    <li>Data Processing and Analysis</li>
                    <li>3D Modeling</li>
                </ul>
                <div class="text-center">
                    <a href="https://www.epsi.fr/programmes/ingenierie-informatique/" target="_blank">
                        <img src="{{ asset('images/logoepsi.png') }}" alt="Logo" class="centered-image" style="height: 80px;">
                    </a>
                </div>
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">2018 - 2019</span>
                <h2>License 3 computer science</h2>
                <span class="position">University of Le Havre</span>
                <ul>
                    <li>Web Development</li>
                    <li>Database Management</li>
                    <li>Object-Oriented Programming (OOP)</li>
                </ul>
                <div class="text-center">
                    <a href="https://www.univ-lehavre.fr/spip.php?formation4" target="_blank">
                        <img src="{{ asset('images/lehavre.png') }}" alt="Logo" class="centered-image" style="height: 80px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date">2019 - 2020</span>
                <h2>Master's Degree in General Computer Science (M1)</h2>
                <span class="position">Grenoble University (UGA)</span>
                <ul>
                    <li>Operating Systems</li>
                    <li>Internet of Things</li>
                    <li>Data Processing and Analysis</li>
                    <li>Robotics</li>
                </ul>
                <div class="text-center">
                    <a href="https://formations.univ-grenoble-alpes.fr/fr/catalogue-2021/master-XB/master-informatique-IAQK9B8Z/parcours-informatique-classique-1re-annee-IGM7WZRC.html" target="_blank">
                        <img src="{{ asset('images/uga.png') }}" alt="Logo" class="centered-image" style="height: 80px;">
                    </a>
                </div>
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">2015 - 2018</span>
                <h2>License 3 computer science</h2>
                <span class="position">University of Bordj Bou Arreridj</span>
                <ul>
                    <li>Android Development</li>
                    <li>Network and Multimedia</li>
                    <li>Information Systems Management</li>
                </ul>
                <div class="text-center">
                    <a href="https://www.univ-bba.dz/index.php" target="_blank">
                        <img src="{{ asset('images/bba.png') }}" alt="Logo" class="centered-image" style="height: 80px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center ftco-animate">
            <p><a href="#" class="btn btn-primary py-4 px-5">Download CV</a></p>
        </div>
    </div>
</div>